name: ESLint
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'yarn.lock') }}
      - name: Install Node.js dependencies
        run: yarn install --frozen-lockfile
      - name: Run ESLint
        run: node_modules/.bin/eslint . --ext .js,.jsx
