name: Expo Review
on: [pull_request]
jobs:
  publish:
    name: Install and publish
    strategy:
      matrix:
        os: [ macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'yarn.lock') }}
      - run: yarn install --frozen-lockfile
      - uses: expo/expo-github-action@v5
        with:
          expo-version: 4.x
          expo-token: ${{ secrets.EXPO_TOKEN }}
      - run: expo publish --release-channel=pr-${{ github.head_ref }}
      - uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: "App is ready for review: [scan QR code](https://expo.io/@sync-for-science/discovery-mobile-ui?release-channel=pr-${{ github.head_ref }}) | exp://exp.host/@sync-for-science/discovery-mobile-ui?release-channel=pr-${{ github.head_ref }}"
